<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>store</title>
</head>
<body style="color:rgb(76, 107, 145); background-color:#dca329">
    <header>
        <center>
        <div>
            <h1>Магазин одежды</h1>
            <p>Лучший магазин в мире</p>
        </div>
        </center>
    </header>
    <menu>
        <li><button>Одежда</button></li>
        <li><button>Обувь</button></li>
        <li><button>Куртка</button></li>
    </menu>
    {% block content %}
        Страница не заполнена
    {% endblock %}

    <footer height="10">
                <div>
                    <h2>Все права защищены 2024</h2>
                </div>
    </footer>
</body>
</html>
