{% extends 'index.html' %}
{% block title %}
{{ super() }} - {{ title }}
{% endblock %}
{% block content %}

    <div>
        {% for article in shoes %}
        <div>
            <h2>{{article.model}}</h2>
            <p>{{article.description}}</p>
            <p>{{article.price}}</p>

        </div>
        {% endfor %}

        {% for article in jacket %}
        <div>
            <h2>{{article.model}}</h2>
            <p>{{article.description}}</p>
            <p>{{article.price}}</p>

        </div>
        {% endfor %}
    </div>
{% endblock %}
